<!-- header -->
<app-header></app-header>

<!-- content -->
<div class="card" style="padding: 2rem; width: 50%; align-self: center; margin: auto;">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>

  <mat-card>
    <qrcode [qrdata]="'Your data'" [size]="256" [level]="'M'"></qrcode>

    <button class="" (click)="print()">Print the qr-code</button>
  </mat-card>
</div>


