<!-- header -->
<app-header></app-header>

<!-- content -->
<div class="card" style="padding: 2rem; width: 50%; align-self: center; margin: auto;">

  <mat-card style="margin-bottom: 20px;">
    <mat-card-title>Fill up the form with your data</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="formData" (ngSubmit)="generateQRCode()">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Firstname" formControlName="firstName">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Lastname" formControlName="lastName">
          </mat-form-field>
          <button mat-button mat-raised-button color="primary">Generate qr code</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


  <!-- qr code zone -->
  <mat-card *ngIf="qrCodeData !== null">
    <mat-card-title>QR Code</mat-card-title>
    <qrcode [qrdata]="qrCodeData" [size]="256" [level]="'M'"></qrcode>
    <button mat-button mat-raised-button color="primary" (click)="print()" style="margin-right: 5px;"> Print the qr-code</button>
    <button mat-button mat-raised-button color="accent" (click)="download()">Download qr-code</button>
  </mat-card>
</div>


